<!doctype html>
<html lang="sv-SE">
    <head>
        <title>Shoplist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> -->
    </head>
    <body>
        <h1>Shoplist</h1>
        <div id="shoplist">
            <!-- <input type="text" name="field_0" id="field_0" placeholder="Mjölk" /> -->
        </div>
        <script src="{{ url_for('static', filename='shoplist.js') }}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
