<!doctype html>
<html lang="sv-SE">
    <head>
        <title>Shoplist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='shoplist.css') }}" />
    </head>
    <body>
        <main>
            <header>
                <h1 id="listtitle">Shoplist</h1>
                <button id="btnMenu">&#9776;</button>
                <ul id="menu">
                    <li id="menuLoad">Load</li>
                    <li id="menuSave">Save</li>
                    <li id="menuShowcat">Show Categories</li>
                    <li id="menuClearall">Clear All</li>
                </ul>
            </header>
            <input id="listname" type="text" name="listname" placeholder="Name of shopping list" value="{{ name }}" />
            <button id="btnLoadList" type="button">Load</button>
            <ul id="shoplist"></ul>
            <button id="btnNewItem" type="button">+</button>
            <div id="dialogNewItem">
                <p>Add new item</p>
                <input id="newItemText" type="text" name="newItemText" placeholder="Item" />
                <input id="newItemCategory" type="text" name="newItemCategory" placeholder="Category" />
                <input id="newItemAmount" type="text" name"newItemAmount" placeholder="Amount" />
                <button id="btnNewItemAdd" type="button">Add</button>
            </div>
            <div id="messages"></div>
        </main>
        <li class="item" id="itemtemplate" draggable="true">
            <button class="itembtn green" type="button" id="_green"></button>
            <button class="itembtn yellow" type="button" id="_yellow"></button>
            <button class="itembtn red" type="button" id="_red"></button>
            <button class="itembtn grey" type="button" id="_grey"></button>
            <button class="itembtn del" type="button" id="_del"></button>
            <input class="text" type="text" id="_text">
            <input class="amount" type="text" id="_amount">
        </li>
        <script src="{{ url_for('static', filename='shoplist.js') }}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
